<h1>NODEMAILER</h1>
<form action="/send-email" method="post">
  {{!-- <label for="">Email</label>
  <input type="email" name="email" id="">
  <label for="">MR. or Mrs. or Ms. [name]</label>
  <input type="text" name="name" id="">
  <label for="">Admiration intro</label>
  <input type="text" name="intro" id="">
  <label for="">usp</label>
  <textarea type="text" name="usp" id=""></textarea> --}}
  <p>Ready to send the emails?</p>
  <button type="submit">Submit</button>
</form>
